<md-card>
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>Change Password</span>
    </h2>
  </md-toolbar>
  <md-card-content>
    <p>
      <form name="changePasswordForm" ng-enter="changePassword(passwordCredentials)">

        <md-input-container>
          <label>Old Password</label>
          <input ng-model="passwordCredentials.oldPassword" type="password" required>
        </md-input-container>

        <md-input-container>
          <label>New Password</label>
          <input ng-model="passwordCredentials.newPassword" type="password" required>
        </md-input-container>

        <md-input-container>
          <label>Confirm New Password</label>
          <input ng-model="passwordCredentials.newPasswordConfirm" type="password" required>
        </md-input-container>

        <h3 ng-show="updateProfileError">{{ passwordChangeError.data.message }}</h3>

        <md-button ng-click="changePassword(passwordCredentials)" ng-disabled="changePasswordForm.$invalid" class="md-primary md-raised mt++">Change Password</md-button>
      </form>
    </p>
  </md-card-content>
</md-card>
