<div layout="row" layout-align="center">
  <md-card flex="50">
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>Request A Course</span>
      </h2>
    </md-toolbar>
    <md-card-content>
      <p>
        <form name="requestCourseForm" ng-enter="submitRequest(request)">
          <md-input-container>
            <label>Name</label>
            <input ng-model="request.name" required>
          </md-input-container>
          <md-input-container>
            <label>City</label>
            <input ng-model="request.city" required>
          </md-input-container>
          <md-input-container>
            <label>State</label>
            <input ng-model="request.state" required>
          </md-input-container>
          <md-input-container>
            <label>Country</label>
            <input ng-model="request.country" required>
          </md-input-container>
          <md-input-container>
            <label>Website</label>
            <input ng-model="request.website">
          </md-input-container>
          <md-input-container>
            <label>Comment</label>
            <textarea ng-model="request.comment"></textarea>
          </md-input-container>
          <h3 ng-show="updateProfileError">{{ courseRequestError.message }}</h3>

          <md-button ng-click="submitRequest(request)" ng-disabled="requestCourseForm.$invalid" class="md-primary md-raised">Submit Request</md-button>
        </form>
      </p>
    </md-card-content>
  </md-card>
</div>
