<lx-dialog class="dialog dialog--alert" id="{{ dialogId }}" onclose="doClose" ng-enter="doConfirm(inputText)">
  <div class="dialog__header">
    <div color-primary class="toolbar">
      <span class="toolbar__label tc-white fs-title">
        {{ title }}
      </span>
    </div>
  </div>

  <div class="dialog__content p">
    <div flex-container="row" flex-gutter="24">
      <div flex-item="12" >
        <lx-text-field label="{{ label }}">
          <input type="text" ng-model="inputText">
        </lx-text-field>
      </div>
    </div>
  </div>

  <div class="dialog__actions">
    <button ng-click="doClose()" class="btn btn--m btn--black btn--flat" lx-ripple>{{ denyText }}</button>
    <button ng-click="doConfirm(inputText)"  class="btn btn--m btn--black btn--flat"lx-ripple>{{ confirmText }}</button>
  </div>
</lx-dialog>